<div class="smaller mt-auto mb-auto screen">
  <h2>So far we have consumed {{alcohol_used_litres}} LITRES of pure alcohol. This is enough to...</h2>
  <h2>
    <ul>
      <li>Get {{elephants_drunk}} elephants drunk,</li>
      </br>
      <li>Put someone roughly {{drink_drive}} times over the drink drive limit,</li>
      </br>
      <li>make {{shots}} shots at the bar, which would take {{shottime}} minutes to drink,</li>
      <br/>
      <li>make antifreeze to fill {{cars}} cars,</li>
      </br>
      <li>satisfy the annual drinking habits of {{libyans|stringformat:"i"}} average Libyans,</li>
      </br>
      <li>satisfy the annual drinking habits of {{scots|stringformat:"0.1f"}} average Scots...</li>
    </ul>
  </h2>
</div>
