<div class="larger">
	<h3>So far we have consumed <strong>{{alcohol_used_litres}}</strong> LITRES of pure alcohol.</h3>
	<h3>This is enough to...</h3>
	<ul>
		<li>Get <strong>{{elephants_drunk}}</strong> elephants drunk.</li>
		<li>Put someone roughly <strong>{{drink_drive}}</strong> times over the drink drive limit.</li>
		<li>Make {{shots}} shots at the bar, which would take <strong>{{shottime}}</strong> minutes to drink.</li>
		<li>Make antifreeze to fill <strong>{{cars}}</strong> cars.</li>
		<li>Satisfy the annual drinking habits of <strong>{{libyans|stringformat:"i"}}</strong> average Libyans.</li>
		<li>Satisfy the annual drinking habits of <strong>{{scots|stringformat:"0.1f"}}</strong> average Scots.</li>
	</ul>
</div>
