{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}EMF Bar Information{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=1920, height=1080">
    <link rel="STYLESHEET" type="text/css" href="{% static "emf/css/display.css" %}">
    <script type="module" src="{% static "emf/js/display.js" %}"></script>
  </head>
  <body>
    <div class="flex-column vh100">
      <header>
		<div id="logo"><img src="{% static "emf/img/logo.svg" %}" width="400"></div>
		<h1 id="title">EMF Bar Information</h1>
		<div id="clock">00:00</div>
      </header>
      <main id="content" class="flex-grow-1">Loading...</main>
    </div>
    <div id="page"></div>
  </body>
</html>
