<table{% if num_items > 16 %} class="smaller"{% endif %}>
	<colgroup>
		<col width="40%">
		<col width="20%">
		<col width="30%">
		<col width="20%">
	</colgroup>
	
	<thead>
		<tr>
			<th>Name</th>
			<th>ABV</th>
			<th>Price</th>
			<th>Stock</th>
		</tr>
	</thead>

	<thead class="sub">
		<tr><th colspan="4">Spirits</th></tr>
	</thead>
	<tbody>
		{% for t in spirits %}
			<tr>
				<td>{{ t.manufacturer }} {{ t.name }}</td>
				<td>{{ t.abv }}%</td>
				<td>£{{ t.saleprice }}/{{ t.unit.item_name }}</td>

				<td class="stock">
					{% if t.remaining <= 5.0 %}
						<span class="orb lastfew" title="Last few"></span>
						<span class="text">Last few</span>
					{% elif t.remaining <= 10.0 %}
						<span class="orb low" title="Low"></span>
						<span class="text">Low</span>
					{% else %}
						<span class="orb plenty" title="Plenty"></span>
						<span class="text">Plenty</span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>

	<thead class="sub">
		<tr><th colspan="4">Soft drinks & mixers</th></tr>
	</thead>
	<tbody>
		{% for st, remain_pct in soft %}
			<tr>
				<td colspan="2">{{ st.manufacturer }} {{ st.name }}</td>
				<td>£{{ st.saleprice }}/{{ st.unit.item_name }}</td>

				<td class="stock">
					{% if t.remaining <= 7.5 %}
						<span class="orb lastfew" title="Last few"></span>
						<span class="text">Last few</span>
					{% elif t.remaining <= 20.0 %}
						<span class="orb low" title="Low"></span>
						<span class="text">Low</span>
					{% else %}
						<span class="orb plenty" title="Plenty"></span>
						<span class="text">Plenty</span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
