.bargraph {
    width: 100%;
    background-color: rgba(18,63,139,0.5);
    color: #151735;
    height: 2em;
    border-radius: 10em;
    overflow: hidden;
    position: relative;
}

.screen {
	.bargraph {
		height: 3em;
	}
	
	.bar span {
		font-size: 1.5em;
	}
}


.bar {
    background: #90ccd6;
    overflow: hidden;
    border-radius: 10em;
    height: inherit;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
	
	.remaining {
		background: #90ccd6;
	}
	
	span {
		font-size: 1em;
		line-height: 2;
		overflow: hidden;
	}
}


.marker {
    background: #123f8b;
    height: inherit;
    text-align: center;
    font-size: 1em;
    border-right: 0.25em solid white;
    position: absolute;
    top: 0;
    left: 0;
	
	.remaining {
		background: #123f8b;
	}
}
