/* -*- coding: utf-8 -*- */

@charset "UTF-8";

@import url( 'fonts.css' );
@import url( 'bargraph.css' );

html, body {
    min-height: 100%;
}

body {
    background: #020021 url( /static/emf/bg.png ) no-repeat;
    background-size: contain;
    color: white;
    font-size: 24pt;
    font-family: ralewayregular, sans-serif;
    margin: 30pt;
    padding: 0;
    overflow: hidden;
}

header {
    background: url('/static/emf/logo.png') no-repeat;
    background-size: 400px;
    display: table;
    width: 100%;
    height: 5%;
    min-height: 84pt;
    margin-bottom: 2pt;
}

header div {
    display: table-cell;
    text-align: center;
}

header div h1 {
    text-align: center;
}

main table {
    font-size: 21pt;
    line-height: 1.5;
    width: 100%;
    border-spacing: 0;
}

main table thead th {
    text-align: left;
    border-bottom: 2px solid #5f1539;
}

main table thead.sub th {
    padding-top: 12pt;
    border-bottom: unset;
}

main table tbody tr:nth-child(odd) {
    background-color: rgba( 255, 255, 255, .1 );
}

.center {
    text-align: center;
}

.smaller {
    font-size: 18pt;
}

#header, #content, #page {
    transition: opacity 1s ease-in-out;
}

#clock {
    position: absolute;
    top: 80px;
    right: 30px;
    font-size: 36pt;
}

#page {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18pt;
}

@media screen and ( max-width: 1024px ) {
    header {
	background: none;
    }
    #clock {
	display: none;
    }
}
